# =========================================================
# Python
# =========================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================================================
# Jupyter
# =========================================================
.ipynb_checkpoints/

# =========================================================
# OS / system files
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# IDEs / editors
# =========================================================
.vscode/
.idea/

# =========================================================
# Logs & temp
# =========================================================
*.log
*.tmp
*.bak

# =========================================================
# Outputs (figures & generated results)
# =========================================================
outputs/*
!outputs/.gitkeep

# Optional: ignore specific formats instead
# outputs/**/*.png
# outputs/**/*.pdf
# outputs/**/*.svg


# =========================================================
# Build / packaging
# =========================================================
build/
dist/
*.egg-info/

# =========================================================
# Misc
# =========================================================
*.swp
*~